<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listado de Publicaciones</title>
</head>
<body>
    <h1>Listado de Publicaciones</h1>
    <ul>
        {% for publicacion in publicaciones %}
        <li>
            ID: {{ publicacion.id_publicacion }}, 
            Especie: {{ publicacion.especie }}, 
            Nombre: {{ publicacion.nombre }}, 
            Descripción: {{ publicacion.descripcion }}, 
            Ubicación: {{ publicacion.ubicacion }}, 
            Estado: {{ publicacion.estado }}, 
            Teléfono: {{ publicacion.telefono }}
        </li>
        {% endfor %}
    </ul>
</body>
</html>
